@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0D0C0F;
}

.mySwiper .swiper-pagination {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}


.mySwiper .swiper-pagination-bullet {
    background-color: #FFF;
  }
.swiper-button-prev{
    background-color: red;
}

.video-react{
    
    height: 100% !important;
    width: 100% !important;
    background-color: transparent !important;
}

.video-react-video , .video-react-poster{
    background-color: transparent !important;
}