@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0D0C0F;
}
* {
    -webkit-tap-highlight-color: transparent;
}

.mySwiper .swiper-pagination {
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}


.mySwiper .swiper-pagination-bullet {
    background-color: #FFF;
  }
.swiper-button-prev{
    background-color: red;
}


.video-react{
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background-color: transparent !important;
}

.video-react-video , .video-react-poster{
    background-color: transparent !important;
}

.video-react .video-react-slider{
    background-color: #00925d4a !important;
}
.video-react .video-react-load-progress{
    background-color: #00925D !important;
}
